<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONSULTAR RAÇAS</title>
    <style>
    body{background: #f6f4f4;font-family: 'New Tegomin', serif;}.button{font-family: 'New Tegomin', serif;background-color: rgb(196, 185, 185);font-size: 16px;margin: 4px 2px;}  
    .button:hover{
        background-color: rgb(126, 116, 116);
        color: black;
    }
    input[type=text] {
        width: 15%;
        padding: 12px 20px;
        margin: 5px 0;
        box-sizing: border-box;
    } 
    </style>
</head>
<body>
    <strong><h1>Consulte as raças de gatos</h1></strong>

    <label>Digite o seu token: </label><br>
    <input required type="text" id="token" placeholder="Token"><br>
    <label>Digite a sua pesquisa: </label><br>
    <input required type="text" id="pesquisa" placeholder="Pesquisa Raça Felina"><br>
    <button class="button" type="submit" onclick="pesquisar();">Pesquise aqui</button>
    <span id="lista"></span>

    <script>

        function pesquisar(){
            var token = $('#token').val();
                var arq = $('#pesquisa').val();
                $.getJSON("http://localhost:8080?q=" + arq + "&t=" + token, function(data) {
                    var listar = document.getElementById('lista')
                        
                        data.forEach(function(gato){
                            try{
                                listar.innerHTML += `
                                <br>
                                    <span> 
                                        Nome: ${gato.name} 
                                    </span><br>
                                    <span> 
                                        Peso:  ${gato.weight.metric}
                                    </span>
                                    <span><br>
                                        Wiki:  ${gato.wikipedia_url}
                                    </span>
                                <br>`; 
                            }catch{
                                
                            }                  
                        })  
        
                }).done(function() {
                    console.log('Pesquisa realizada com sucesso')
                })
                .fail(function() {
                    console.error("ERRO NA API! Verifique o token ou servidor")
                })
        }
       
    </script>
</body>
</html>